<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid ">

		<a class="navbar-brand" href="{{ path('home.index')}}"><img src="{{ asset('assets/images/logo.png')}}" alt="Logo" style="max-width: 7rem; "></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarColor01">

			<ul class="navbar-nav me-auto">
				{% if app.user %}
					{% if is_granted('ROLE_ADMIN') %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('app_meal_index')}}">Créer un plat</a>
								<a class="dropdown-item" href="{{ path('app_category_index')}}">Créer une catégorie pour un plat</a>

								<a class="dropdown-item" href="{{ path('app_mealpublic_index')}}">voir la carte avec catégorie</a>
								<a class="dropdown-item" href="{{path('app_menu_index')}}">créer des menus</a>
								<a class="dropdown-item" href="{{path('app_option_index')}}">créer des formules pour les menus</a>


								<a class="dropdown-item" href="{{path('app_menuformule_index')}}">voir les menus avec les formules</a>

								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{{path ('app_schedule_index')}}">Créer des horaires du midi</a>
								<a class="dropdown-item" href="{{path ('app_scheduleevening_index')}}">Créer des horaires du soir</a>
								<a class="dropdown-item" href="{{path ('app_reservation_index')}}">Gérer les réservations</a>
								<a class="dropdown-item" href="{{path ('app_user_index')}}">Gérer les clients</a>


							</div>
						</li>
					{% endif %}
				{% endif %}


				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_user_show',{'id':app.user.id})}}">Mon compte</a>

						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
						</li>
					{% else %}


						<li class="nav-item ">

							<a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
						</li>
						<li class="nav-item ">

							<a class="nav-link" href="{{ path('app_login') }}">Me Connecter</a>
						</li>


					{% endif %}
				</ul>


			</div>
		</div>
	</nav>
