{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<style>
		.card-title {
			opacity: 0.1;
			transition: 0.3s
		}
		.card-title:hover {
			opacity: 1
		}
	</style>
	<div class="jumbotron">


		<h1 class="display-4">Hello, world!</h1>
		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		<hr class="my-4">
		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

		<div class="row mt-4">
			{% for meal in meals |reverse %}
				<div class="col-md-4">
					<div class="card mt-4">
						<img src="{{ asset('uploads/') }}{{ meal.picture }}" alt="{{ meal.title }} " style="max-width: 10rem;">

						<div class="card-body">
							<h5 class="card-title">{{meal.title}}</h5>
							<p class="card-text">Descript.:
								{{ meal.description | u.truncate(20) }}...</p>


							<p class="card-text">Prix:
								{{meal.price}}
								€
							</p>
							<div class="text-center">
								<a href="" class="btn btn-primary mt-4">Réserver une table</a>
							</div>


						</div>
					</div>
				</div>
			{% else %}
				<tr>
					<td colspan="11">Pas de données</td>
				</tr>

			{% endfor %}
		</div>
		<div class="text-center">
			<a href="" class="btn btn-primary mt-4">Réserver une table</a>
		</div>


	</div>
{% endblock %}
