{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	{% if app.user %}

		<div class="mt-4 container">
			<h1>Mon compte</h1>

			<table class="table">
				<tbody>

					<tr>
						<th>Email</th>
						<td>{{ user.email }}</td>
					</tr>


					<tr>
						<th>Nom</th>
						<td>{{ user.lastname }}</td>
					</tr>
					<tr>
						<th>Prénom</th>
						<td>{{ user.firstname }}</td>
					</tr>
					<tr>
						<th>Présence d'allergie</th>
						<td>{{ user.isAllergy ? 'Oui' : 'Non' }}</td>
					</tr>
					<tr>
						<th>Téléphone</th>
						<td>{{ user.phone }}</td>
					</tr>
					<tr>
						<th>Date de votre dernière réservation</th>
						<td>{{ user.date ? user.date|date('Y-m-d') : '' }}</td>
					</tr>


				</tbody>
			</table>

			<a class="btn btn-secondary btn-lg mt-4" href="{{ path('home.index') }}">Accueil</a>


		</div>
	{% endif %}
{% endblock %}
