{% extends 'base.html.twig' %}

{% block title %}Liste des Menus
{% endblock %}

{% block body %}
	<h1>Liste des Menus</h1>

	{% for menu in menus %}
		<div class="container">
			<h2 class="text-center mt-4 text-decoration-underline">{{ menu.title }}</h2>

			{% for option in menu.options %}

				<h3 class="text-center">{{ option.title }}</h3>

				<h4 class="text-center">{{ option.day }}</h4>

				<p class="text-center">{{ option.description }}


					/

					{{ option.price }}</p>


			{% endfor %}
			<hr class="m-4">
		</div>
	{% endfor %}

{% endblock %}
